@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

@media (min-width: 576px) { 


 }


body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(http://static.prsa.pl/images/7436d751-bc08-4853-8c66-03eb36d87267.jpg) no-repeat 75% 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,h2,h3,h4,h5 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
.img-thumb {
  height: 25px;
  width: auto;
  margin: 0 auto 0 auto;
}
.img-team-details {
  width: 50%;
  height: auto;
  display:block;
  margin: 0 auto 0 auto;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  background: #2F343B;
}
.page-header h3 {
  line-height: 50px;
}
.page-header a {
  color: #f5f5f5;
  border: 0;
  text-decoration: none;
}
.page-header .back-button {
  height: 33px;
  width: 33px;
  position: absolute;
  left: 10px;
  top: 10px;
  border: 0;
  color: #FFFFFF;
  background: transparent;
  outline: none;
}

.page-header .page-menu {
  position: fixed;
  overflow-y: scroll;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #2F343B;
  z-index: 5;
  transition: 0.2s;
}
.page-header .page-menu .page-menu.container {
  position: absolute;
  height: 100vh;
  background: #2F343B;
}
.page-header .hamburger {
  position: absolute;
  outline: none;
  top: 10px;
  right: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: transparent;
  width: 33px;
  height: 33px;
  border: 0;
}
.page-menu .navigation-menu {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  padding-bottom: 65px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.page-menu .navigation-menu li {
  width: 100%;
  height: 35px;
  text-align: center;
  line-height: 35px;
}
.page-menu .navigation-menu li .nav-active {
  background: #721121;
}
.page-menu a {
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  display:block;

}
.page-menu a:hover {
  color: #F5F5F5;
  background: #3b4149;
}
.page-menu p {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 50px;
}
.page-menu h3 {
  text-align: center;
}
.page-content {
  position: absolute;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.3s;
}
.page-content .page-title {
  width: 100%;
  text-align: left;
  color: #2F343B;
  height: 30px;
  line-height: 30px;
  margin: 20px auto 0 auto;
  padding-left: 10px;
}
.page-content .page-title h4 {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}
.splash {
  width: 100%;
  background: #C6CCCC;
  font-size: 1rem;
  padding: 40px;
  opacity: 0.9;
  text-align: center;
  color: #2F343B;
  min-height: 100vh;
}
.splash ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.splash ul li{
  width: 48%;
  margin-bottom: 10px;
  min-height: 80px;
  display: flex;
  align-items: center;
  background: #721121;
}
.splash ul li a {
  width: 100%;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

.widget {
  width: 100%;
  overflow: auto;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 0 40px 0;
  padding-bottom: 60px;
  opacity: 0.9;
}
.widget ul {
  width: 100%;
  color: #000000;
  border-color: #962D3E;
}
.widget table {
  font-size: 0.8rem;
  width: 100%;
  border: 0;
  border-collapse:collapse;
  text-align: center;
  color: #2F343B;
}
.widget .table-fixtures {
  text-align: center;
}
.widget .table-fixtures td a {
  color: #474056;
  text-decoration: none;
}
.widget table tr td {
  vertical-align: middle;
}
.widget table tr th {
  vertical-align: middle;
}
.widget table tr {
  background: #C6CCCC;
  height: 35px;
}
.widget table thead tr:first-child {
  background: #2F343B;
  color: #FFFFFF;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
}
.widget table tr:nth-child(2n) {
  background: #D0D6D6;
}
.widget h3 {
  width: 100%;
  color: #000000;
}
.widget .details-table tr td:first-child{
  width: 35%;
}
.widget .details-table .logo {
  min-height: 100px;
  height: 100px;
}
.widget .league-table tbody tr td:nth-child(3){
  text-align: left;
}
.widget .teams-table tbody tr td:nth-child(2) {
  text-align: left;
}
.widget .teams-table tbody tr td a{
  color: #474056;
  text-decoration: none;
}

.bottom-menu {
  position: fixed;
  font-family: 'Open Sans Condensed', sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2F343B;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  font-size: 0.8rem;
}
.bottom-menu-elem {
  display: flex;
  height: 50px;
  width: 25%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #F5F5F5;
  box-sizing: border-box;
  text-decoration: none;
}
.bottom-menu-elem p {
  margin: 0;
  padding: 0;
}
.bottom-menu-active {
  background: #721121;
}

select {
  border: 1px solid #721121;
  margin: 0 5px 0 5px;
  height: 30px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
select option:focus {
  background: #721121;
}

.progressbar-container {
  width: 90%;
  height: 25px;
  background: #FFFFFF;
  display: block;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: flex-start;
  line-height: 25px;
  position: relative;
}
.progressbar-container .progressbar {
  background: #721121;
  text-align: center;
  font-size: 0.7rem;
}
.progressbar-container p {
  position: absolute;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.details-logo {
  height: 200px;
  width: auto;
  margin: 20px auto 20px auto;
}
/*loader*/

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: 50vh;
  transform: translateX(-50%) translateY(-50%);
}

.loader .item {
  width: 50px;
  height: 50px;
  position: absolute;
}

.loader .item-1 {
  background-color: #474056;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

.loader .item-2 {
  background-color: #dc3545;
  top: 0;
  right: 0;
  animation: item-2_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

.loader .item-3 {
  background-color: #721121;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

.loader .item-4 {
  background-color: #242331;
  bottom: 0;
  left: 0;
  animation: item-4_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

@keyframes item-1_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(50px, 50px)} 
  50% {transform: translate(0, 50px)} 
  75% {transform: translate(50px, 0)} 
}

@keyframes item-2_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(-50px, 50px)} 
  50% {transform: translate(-50px, 0)} 
  75% {transform: translate(0, 50px)} 
}

@keyframes item-3_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(-50px, -50px)} 
  50% {transform: translate(0, -50px)} 
  75% {transform: translate(-50px, 0)} 
}

@keyframes item-4_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(50px, -50px)} 
  50% {transform: translate(50px, 0)} 
  75% {transform: translate(0, -50px)} 
}


.menu-toggle-enter {
  transform: translateY(100%);
}

.menu-toggle-enter.menu-toggle-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-in;
}

.menu-toggle-leave {
  transform: translateY(0);
}

.menu-toggle-leave.menu-toggle-leave-active {
  transform: translateY(100%);
  transition: transform 300ms ease-out;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}