
@media (min-width: 576px) { 


 }


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #CFD8DC;
}
h3 {
  text-align: center;
}
.img-thumb {
  height: 25px;
  width: auto;
  margin: 0 auto 0 auto;
}
.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  background: #212529;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}
.page-header h3 {
  position: absolute;
  top: 13px;
  left: 20px;
}
.page-header a {
  color: #f5f5f5;
}

.page-header .page-menu {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: auto;
  background: #212529;
  z-index: 5;
  transition: 0.2s;
}
.page-header .page-menu .page-menu.container {
  position: fixed;
  height: 100vh;
  background: #212529;
}
.page-header .hamburger {
  position: absolute;
  top: 13px;
  right: 13px;
  box-sizing: border-box;
  color: #FFFFFF;
  background: transparent;
  width: 33px;
  height: 33px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
.page-menu .navigation-menu {
  width: 100%;
  padding-bottom: 65px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.page-menu .navigation-menu li {
  width: 100%;
}
.page-menu a {
  color: #FFFFFF;
  width: 100%;
  border-bottom: 1px solid #343a40;
}
.page-menu a:hover {
  color: #F5F5F5;
  background: #343a40;
}
.page-menu p {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 50px;
}
.page-menu h3 {
  text-align: center;
}
.page-content {
  position: absolute;
  color: #212529;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 60px;
  justify-content: flex-start;
  align-items: flex-start;
}
.page-content h3 {
  width: 100%;
  padding: 0 0 20px 0;
}
.widget {
  width: 100%;
  overflow: auto;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0 0 0;
  padding-bottom: 60px;
}
.widget ul {
  width: 100%;
  color: #000000;
}
.widget h3 {
  width: 100%;
  color: #000000;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #212529;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  -webkit-box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 7px 0px rgba(0,0,0,0.75);
}
.bottom-menu-elem {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: #F5F5F5;
  border: 1px solid #343a40;
  box-sizing: border-box;
}

/*loader*/

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: 50vh;
  transform: translateX(-50%) translateY(-50%);
}

.loader .item {
  width: 50px;
  height: 50px;
  position: absolute;
}

.loader .item-1 {
  background-color: #69747C;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

.loader .item-2 {
  background-color: #6BAA75;
  top: 0;
  right: 0;
  animation: item-2_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

.loader .item-3 {
  background-color: #84DD63;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

.loader .item-4 {
  background-color: #CBFF4D;
  bottom: 0;
  left: 0;
  animation: item-4_move 2s cubic-bezier(.17,.67,1,.70) infinite;
}

@keyframes item-1_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(50px, 50px)} 
  50% {transform: translate(0, 50px)} 
  75% {transform: translate(50px, 0)} 
}

@keyframes item-2_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(-50px, 50px)} 
  50% {transform: translate(-50px, 0)} 
  75% {transform: translate(0, 50px)} 
}

@keyframes item-3_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(-50px, -50px)} 
  50% {transform: translate(0, -50px)} 
  75% {transform: translate(-50px, 0)} 
}

@keyframes item-4_move {
  0%, 100% {transform: translate(0, 0)} 
  25% {transform: translate(50px, -50px)} 
  50% {transform: translate(50px, 0)} 
  75% {transform: translate(0, -50px)} 
}


.menu-toggle-enter {
  opacity: 0.01;
}

.menu-toggle-enter.menu-toggle-enter-active {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(.11,.94,.11,.94) ;
}

.menu-toggle-leave {
  opacity: 1;
}

.menu-toggle-leave.menu-toggle-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out ;
}